[submodule "MPRViewer"]
	path = MPRViewer
	url = https://github.com/BasselShaheen06/MPR_Viewer.git
[submodule "OrgoVision"]
	path = OrgoVision
	url = https://github.com/BasselShaheen06/OrgoVision.git
[submodule "NOPIS"]
	path = NOPIS
	url = https://github.com/BasselShaheen06/Research_Proposal.git
[submodule "NOPIS_Proposal"]
	path = NOPIS_Proposal
	url = https://github.com/BasselShaheen06/Research_Proposal.git
